#login,
#registro {
  margin: 10% auto;
  background-color: #fff;
  border-radius: 20px;
  color: black;
}

#registro {
  margin-top: 5%;
}

body {
  background-color: #afafaf;
}

.fondo-login {
  background-image: url("../img/fondo.01.png");
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  background-color: #521065;
}

.btn-v {
  color: aliceblue;
  background-color: #a403d1;
}

.btn-v:hover {
  background-color: #8001a3;
}

.btn-v:active {
  background-color: #62007e;
}

a {
  text-decoration: none;
}
