.fade {
}

#login {
  margin: 10% auto;
  background-color: #fff;
  border-radius: 20px;
  color: black;
}

#login-form {
  opacity: 1 !important;
}

body {
  background-color: #afafaf;
}

.fondo-login {
  background-image: url("../img/fondo.01.png");
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  background-color: #521065;
}
